---
import Layout from '../../layouts/Layout.astro'
import Header from "../../components/Header.astro";
---
<Layout title="Jannik Sohn Imprint">
    <Header
        href="/en"
        img="../logo.svg"
    />
    <div>
        <h1>Imprint</h1>
        <p>Information according to § 5 TMG</p>
        <p>Jannik Sohn<br>Bahnhofstr. 25<br>87463 Dietmannsried</p>
        <b>Represented by:</b>
        <p>Henning Sohn</p>
        <b>Contact Information:</b>
        <p>Phone: +49 8374-3234000<br>E-Mail: <a href="mailto:webmaster@sohnoton.de">webmaster@sohnoton.de</a></p>
        <b>Disclaimer:<br><br></b>
        <b>Liability for Contents</b>
        <p>The contents of our pages have been created with the utmost care. However, we cannot guarantee the accuracy, completeness, and timeliness of the content. As a service provider, we are responsible for our own content on these pages in accordance with § 7 para. 1 TMG (Telemediengesetz) under the general laws. According to §§ 8 to 10 TMG, we as a service provider are not obligated to monitor transmitted or stored third-party information or to investigate circumstances that indicate illegal activity. Obligations to remove or block the use of information under the general laws remain unaffected. However, liability in this regard is only possible from the moment of knowledge of a specific legal violation. Upon becoming aware of such violations, we will remove these contents immediately.</p>
        <b>Liability for Links</b>
        <p>Our offer contains links to external websites of third parties, over whose contents we have no influence. Therefore, we cannot assume any liability for these external contents. The respective provider or operator of the linked pages is always responsible for the contents of the linked pages. The linked pages were checked for possible legal violations at the time of linking. Illegal content was not recognizable at the time of linking. However, a permanent control of the content of the linked pages is not reasonable without concrete indications of a legal violation. Upon becoming aware of legal violations, we will remove such links immediately.</p>
        <b>Data Protection</b>
        <p>The use of our website is usually possible without providing personal data. As far as personal data (e.g., name, address, or email addresses) is collected on our pages, this is always done on a voluntary basis, if possible. This data will not be passed on to third parties without your express consent.<br>We would like to point out that data transmission over the internet (e.g., communication by email) can have security vulnerabilities. A complete protection of data against access by third parties is not possible.<br>The use of contact data published within the framework of the imprint obligation by third parties for the transmission of not expressly requested advertising and information materials is hereby expressly objected to. The operators of the pages expressly reserve the right to take legal action in the event of the unsolicited sending of advertising information, such as spam emails.</p>
    </div>
</Layout>

<style>
    div {
        padding: 5rem;
        padding-top: 5.36rem;
        background-color: #333;
    }
    a {
        color: #ACA9BB;
    }
</style>