---
interface Props {
    href: string;
    text: string;
}

const { href, text } = Astro.props;
---

<footer>
    <p>© Jannik Sohn | 2032</p>
    <a href={href}>{text}</a>
</footer>

<style>
    footer {
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        position: fixed;
        bottom: 0;
        overflow: hidden;
        color: #ACA9BB;
        padding-block: 1rem;
    }

    p {
        margin: 0;
    }
    a {
        color: #ACA9BB;
    }
</style>