---
interface Props {
    title: string;
    text: string;
    isReversed: boolean;
    isAbsolute: boolean;
    target: string;
}

const { href, text, isReversed, target, isAbsolute } = Astro.props;
---

<a class:list={['btn', {reversed: isReversed }, {absolute: isAbsolute}]} href={href} target={target}>
    <p>{text}</p>
</a>

<style>
    .btn {
        display: block;
        min-width: 10%;
        padding: 1rem 4rem;
        color: #ACA9BB;
        text-decoration: none;
        background-color: #474554;
        border-radius: 12px;
        transition: 0.1s;
        border: 5px solid #474554;
        font-size: 1.1rem;
    }

    .reversed {
        background-color: #ACA9BB;
        border: 5px solid #ACA9BB;
        color: #474554;
    }
    .reversed:hover {
        background-color: #d6d2e5;
    }

    .absolute {
        align-self: end;
    }

    .btn:not(.reversed):hover {
        background: #605c6d;
        color: #312f3d;
    }

    p {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        width: 100%;
    }
</style>
